/* Add or adjust CSS for the NavBar component */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50; /* Ensure it is high enough to be on top */
    width: 60px; /* Set a fixed width */
    height: 100%; /* Full height */
    background-color: #2d2d2d; /* Set background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  